<style>
    body {
        margin: 0;
        padding: 20px;
    }
    .box {
        margin-bottom: 20px;
    }
    .box:last-child {
        margin-bottom: 0;
    }
    .box-flex {
        display: flex;
        flex-wrap: wrap;
        width: 150px;
    }
    .box-flex span {
        flex: 32%;
        flex-grow: 0;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #eee;
    }
</style>

<body>
    <div id="app">
        <div class="box box-flex">
            <span class="intro-1">娱乐</span>
            <span class="intro-2">经济</span>
            <span class="intro-3">文化</span>
            <span class="intro-4">军事</span>
        </div>

        <intro :selector="selector" @click-item="changeIntroItem"></intro>
    </div>
</body>

<script type="module">
import { createApp } from 'https://cdn.bootcdn.net/ajax/libs/vue/3.2.31/vue.esm-browser.js'
import intro from "./intro.js"

createApp({
    data() {
        return {
            selector: '.intro-1'
        }
    },
    methods: {
        changeIntroItem() {
            let index = Number(this.selector.slice(-1)) + 1
            index = index > 4 ? 1 : index
            this.selector = `.intro-${index}`
        }
    }
})
.use(intro)
.mount('#app')
</script>
